#title{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("http://localhost/mycave/assets/img/slide1.jpg");
    background-size: cover;
    background-position: center;
    h1{
        font-family: 'bold';
        font-size: 120px;
        color: white;
        margin-bottom: 20px;
        margin-top: 0; 
    }
    a{
        text-decoration: none;
        color: white;
        font-family: regular;
        font-size: 16px;
        border: 2px solid white;
        padding: 15px 30px;
        cursor: pointer;
        letter-spacing: 1.5spx;
    }
    #connect-message{
        color: white;
        font-family: regular;
        font-size: 2em;
    }
}

// PAGE DE CONNECTION

#connect_form{
    height: calc(100vh - 100px);
    background-image: url("../img/slide1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        background-color: $bordeaux;
        font-family: regular;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 45px 50px;
        width: 300px;
        height: 250px;
        h2{
            align-self: center;
            margin-top: 0;
        }
        input{
            margin-bottom: 20px;
            margin-top: 5px;
            padding: 10px;
            border: 2px solid #c6859d;
            border-radius: 10px;
            color: $rouge;  
        }
        button{
            width: 120px;
            height: 40px;
            align-self: center;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 5px;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
    }
}


// PRODUCT PAGE---------------------------------

.products{
    min-height: 90vh;
    background-image: url('../img/grapes_black_and_white.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: regular;
    color: white;
    h1{
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        color: $bordeaux;
    }
    .selection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35%;
        #selection_form{
            @include flex(column, center);
            width: 60%;
            background-color: rgba(128, 5, 46, 0.9);
            padding-right:40px;
            padding-left: 40px;
            padding-bottom: 27px;
            padding-top: 50px;
            margin-top: 30px;
            select, input{
                margin-bottom: 10px;
                margin-top: 5px;
                padding: 10px;
                border: 2px solid #c6859d;
                border-radius: 10px;
                color: $rouge;
                font-size: 12px;
                cursor: pointer;  
                }
            button{
                width: 120px;
                height: 40px;
                align-self: flex-end;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
                color: white;
                font-size: 12px;
                cursor: pointer;
                margin-top: 10px;
                }
        }
        .buttons{
            width: 70%;
            @include flex(row, space-between);
            form{
                width: 30%;
                button{
                    width: 100%;
                }
            }
            button{
                width: 30%;
                font-size: 12px;
                height: 40px;
                background-color: $rouge;
                border: 1px solid $rouge;
                border-radius: 5px;
                color: white;
                font-size: 12px;
                cursor: pointer;
                margin-top: 10px;
                &:hover{
                    background-color: transparent;
                    border-color: white;
                    } 
                }
        }
        #response{
            width: 70%;
            margin-top: 10px;
            background-color: $rose;
            padding: 5px 10px;
            border-radius: 5px;
        }

       .add_new{
            @include flex(column, center);
            width: 60%;
            background-color: $rose;
            padding-right:40px;
            padding-left: 40px;
            padding-bottom: 27px;
            padding-top: 20px;
            margin-top: 30px;
            margin-bottom: 10px;
            border-radius: 10px;
            .bottle_buttons{
                display: flex;
                justify-content: flex-end;
                button{
                    width: 45%;
                    margin-top: 20px;
                    border-radius: 5px;
                    &:hover{
                        @include button_hover;
                    }
                }
                .add_bottle{
                    color: $bordeaux;
                    background-color: white;
                    &:hover{
                        @include button_hover;
                    }
                }
                .cancel_button{
                    background-color: transparent;
                }
            }
            h2{
                text-align: center;
            }
            label{
                margin-bottom: 0px;
                margin-top: 5px;
            }
            select{
                @include input-fields(5px, 5px, 10px); 
            }
            input[type="text"], input[type="number"], textarea{
                @include input-fields(5px, 10px, 12px);
            }
            p{
                margin-top: 0;
                text-align: right;
                text-decoration: underline;
                cursor: pointer;
            }
            input[type="file"] {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0,0,0,0);
                border: 0;
            }
            .custom-file-upload {
                border: 2px solid $bordeaux;
                color: $bordeaux;
                background-color: white;
                display: inline-block;
                padding: 6px 12px;
                cursor: pointer;
                text-align: center;
                margin: 10px 0px;
                height: 30px;
                @include flex(row, center);
                align-items: center;
                &:hover{
                    @include button_hover;
                }
                p{
                    text-decoration: none;
                    margin: 0px;
                }
            }
            button{
                height: 40px;
                color: white;
                background-color: $bordeaux;
                border: 2px solid $bordeaux;
                cursor: pointer;
                &:hover{
                    @include button_hover;
                }
            }
            #cancel{
                background-color: transparent;
                margin-top: 10px; 
            }
        }    
    }
}



